<a href="https://colab.research.google.com/github/faizan102418/PIAIC_Q1_Colab-Work/blob/main/Q1_PIAIC_13_09_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## OOP Practice

 Date : 13 /Sep / 2024

In [5]:
class ClassName:
    name = "Faizan Sjid"

In [10]:
my_name = ClassName()

In [11]:
my_name.name

'Faizan Sjid'

In [57]:
class Student:
  def __init__(self):
    print("Hello Students")
  def show(self,name,age):
    self.name = name
    self.age = age
    print(self.name,self.age)

In [59]:
me_one = Student()
me_two = Student()
me_three = Student()
me_one.show("Faizan",21)
me_two.show("Faizan",21)
me_three.show("Faizan",21)

Hello Students
Hello Students
Hello Students
Faizan 21
Faizan 21
Faizan 21

In [49]:
# print(me_one.name)
# print(me_one.age)
# print(me_two.name)
# print(me_two.age)
# print(me_three.name)
# print(me_three.age)
me_one.show()

Faizan 22

In [62]:
class Arithematics:
  def __init__(self,a,b):
    self.a = a
    self.b = b
  def add(self):
    return self.a + self.b
  def sub(self):
    return self.a - self.b
  def mul(self):
    return self.a * self.b

In [64]:
addition = Arithematics(10,20)
multiplication = Arithematics(10,20)
subtraction = Arithematics(10,20)

In [71]:
print(addition.add())
print(multiplication.mul())
subtraction.sub()

30
200

-10

## Decorator functions

In [83]:
class MathOperations:
  @staticmethod
  def add(a,b):
    return a + b

  @staticmethod
  def sub(a,b):
    return a - b

  @staticmethod
  def mul(a,b):
    return a * b

addition = MathOperations()
adding = addition.add(10,20)
print(adding)
multiplication = MathOperations()
multiply = multiplication.mul(10,20)
print(multiply)
subtraction = MathOperations()
sub = subtraction.sub(10,20)
print(sub)

30
200
-10

In [92]:
class MathOperations: # Does not access or Instance of class
  name = "Faizan"
  @staticmethod
  def add(a,b):
    return a + b

In [93]:
obj = MathOperations()

In [91]:
MathOperations.add(10,20)

30

In [ ]:
class Example:
  class_variable = 10